---
Checks: "
        bugprone-*,
        -bugprone-dynamic-static-initializers,
        cppcoreguidelines-*,
        misc-use-internal-linkage,
        modernize-*,
        -modernize-use-trailing-return-type,
        -modernize-use-transparent-functors,
        performance-*,
        readability-*,
        -readability-braces-around-statements,
"
WarningsAsErrors: '*'
HeaderFilterRegex: './rserver/.*'
FormatStyle:     none
