# Visual Studio Code folder
.vscode

# Binary directory
bin

# Build directory
build

# Doxygen generated documentation
documentation

# CMake copies the commands to root so that VS Code clang-tidy extension can pick it up
compile_commands.json
